<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Dados Cadastrais</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
	<div id="wrapper">
		<header role="banner" class="group">
			<div id="logo"><a href="index.html">Dados Cadastrais</a></div>
		</header>
		
		<div id="content" role="main">
			<div id="form1">
				<fieldset>
					<h2>Cadastro Efetuado</h2>
					<p><b>Nome</b>:<span th:text="${cliente.nome}"></span></p>
					<p><b>End.</b>:<span th:text="${cliente.endereco}"></span></p>
					<p><b>Fone</b>:<span th:text="${cliente.telefone}"></span></p>
					<p><b>E-Mail</b>:<span th:text="${cliente.email}"></span></p>
				</fieldset>
			</div>
		</div>

	</div>
</body>
</html>